<a href="https://colab.research.google.com/github/RoshanJamthe/twtr_package/blob/main/twtr_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install -i https://test.pypi.org/simple/ twtr-for-dataframes

Looking in indexes: https://test.pypi.org/simple/, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting twtr-for-dataframes
  Downloading https://test-files.pythonhosted.org/packages/bd/47/50b32bd34dfdebb6c08e3b810c1165b611577e62caf6bedbb8642fe80e79/twtr_for_dataframes-1.0.3-py3-none-any.whl (4.1 kB)
Installing collected packages: twtr-for-dataframes
Successfully installed twtr-for-dataframes-1.0.3

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Import the twtr module from twtr_package
from twtr_package import twtr

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# load the data
tweets = pd.read_csv("/content/drive/MyDrive/Almabetter/Module 7: Ml & data engineering/Python modules and project setup/twtr/src/Tweets.csv")
tweets.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [7]:
# Get the processed tweet data
tokenized_tweets = twtr.process(tweets,'text')
tokenized_tweets

0
1                         plus commercial experience tacky
2                        today must mean take another trip
3        really aggressive blast obnoxious entertainmen...
4                                             really thing
                               ...
14635                       thank different flight chicago
14636    leave minute late flight warning communication...
14637            please bring american airlines blackberry
14638    money change flight answer phone suggestion ma...
14639    know many seat next flight standby people next...
Name: text, Length: 14640, dtype: object

In [11]:
tokenized_tweets[50]

'flight suppose take minute website still show time flight thank'

##If you find some bugs do mention them in the comment section, help me make this package squeaky clean just the like the cleaned text-data you are hoping for.